[2022-09-26 14:09] Aman-Singh-Kushwaha opened #1 "Making Navigation Bar of Main Page"
Hello, I am HacktoberFest participant, I want to work on this section,
once event gets started.

[2022-09-26 14:15] girlscript-asansol commented on #1
Hey, thanks for your keen gesture..but please wait till the contribution period starts. We will assign this issue to you for sure. Wait till october 1st. Okay?
For now, you can close this issue.

[2022-09-27 14:49] girlscript-asansol opened #4 "Dumming Issue for testing"
- subhangi practice karo

[2022-09-27 14:52] Subhangi0707 commented on #4
I want to work on this issue under Hacktober fest 2022

[2022-09-27 16:03] girlscript-asansol opened #6 "Create a Navbar"
### Follow this Guidelines:
- Theme: [orange,black,white,beige] (Can by any of the two)
- Font: Lato

Changes are to be made in index.html and styles.html files.

### Navbar should contain:
- Logo
- Home
- About Us
- Resources
- Past Events
- Our Team
- FAQ
- Contact Us

### Design
Inspo: (You can refer to it and can make your own interpretations too, Creativity is welcomed.)
- [Link for the inspo

[2022-09-27 16:08] bubblecode76 commented on #6
hi i would like to work on this issue

[2022-09-27 16:13] girlscript-asansol commented on #6
@bubblecode76 are you a hacktoberfest 2022 contributor? if yes please wait till the contribution period begins we'll assign it to you.

[2022-09-27 16:15] bubblecode76 commented on #6
yes thank you so much

[2022-09-27 16:49] Shivashish-rwt commented on #6
Hey I would like to work in this issue.

[2022-09-27 17:53] souravaniket commented on #6
Hey I would also like to work on it.

[2022-09-28 06:15] girlscript-asansol opened #7 "Create a Header Section"
Changes are to be made in index.html, styles.html and index.js files.

### Header Section should contain:
- Image: Click [here](https://upload.wikimedia.org/wikipedia/commons/2/24/IMG_asnrlyjn.jpg) for the image link
- Title: Welcome to GirlScript Asansol.  Education First.
- Join Us Button (with the discord server link)

### Design
Inspo: (You can refer to it and can make your own interpretations

[2022-09-28 06:56] girlscript-asansol commented on #7
@thatsuman you'll be assigned once the contribution period starts.

[2022-09-28 11:54] bluemoonrz commented on #7
Can I work on this? I would be glad to...

[2022-09-29 04:54] YashBawa commented on #7
Hey @girlscript-asansol can u please create another issue related to the footer and contents where i can contribute to it.

[2022-09-29 04:56] Shashwat0227 commented on #6
hey i can add nav bar and even style it perfectly ,  As i have done these things in my hackathon too , you can assign me this

[2022-09-29 14:05] flow6979 commented on #7
hey, can you please assign this to me as I am very confident that I can contribute with high accuracy to your repository.
Thank you.

[2022-09-30 03:00] arpitasen20 commented on #6
Hey, I would like to work on this issue.

[2022-09-30 07:41] Sahilbal commented on #6
Hey I would like to work on this issue, I can style it and  even make it a responsive one.

[2022-09-30 07:41] Sahilbal commented on #6
@girlscript-asansol  Hey I would like to work on this issue, I can style it and even make it a responsive one.

[2022-09-30 14:33] girlscript-asansol commented on #7
@flow6979  more issues will be up you can check them. Issues will be assigned based on the 1st cmt.

[2022-09-30 14:42] girlscript-asansol opened #12 "Create a webpack for deployment"
Create a webpack file for the netlify bot which will  ci/cd.

[2022-09-30 14:43] Debdeep1 commented on #12
I want to work on this under Hacktoberfest2022.

[2022-09-30 14:59] girlscript-asansol opened #13 "Create the About Us section"
Changes are to be made in index.html, styles.html and index.js files.

### About Us Section should contain:
- Image: Click [here](https://media-exp2.licdn.com/dms/image/C4E0BAQGnt6Z0DtV3qg/company-logo_200_200/0/1650306023304?e=2147483647&v=beta&t=SjqqiNj2VZMqm9RDLHMak5q8n4iO9Fv3JBz7PHErReo) for the image link
- Title: About Us.
- Content: GirlScript Organization is a non-profit company registered

[2022-09-30 15:09] girlscript-asansol opened #14 "Create the Past Event Section"
Changes are to be made in index.html, styles.html and index.js files.

### Past Event Section should contain:
- Title: Our Past Events.
- Check the linkedIn page to find the events or join discord : [link of LinkedIn](https://www.linkedin.com/company/gsasansol/)

___
### Design
Inspo: (You can refer to it and can make your own interpretations too, Creativity is welcomed.)
![Screenshot from 2022-09

[2022-09-30 15:21] girlscript-asansol opened #15 "Create a 404 Page"
Changes are to be made in index.html, styles.html and index.js files.

### 404 Page should contain:
- Don't have to create the discord chat bot.
- Links:
      - Explore our site: redirect to the home page.
      - Create hylerlinks to different home page component, refer to issue #1.

___
### Design
Inspo: (You can refer to it and can make your own interpretations too, Creativity is welcomed.)

!

[2022-09-30 15:26] souravaniket commented on #13
Please assign this to me

[2022-09-30 15:27] Subhangi0707 commented on #15
I want to work on this issue under hactkoberfest 2022

[2022-09-30 15:27] LostButton commented on #15
Hello, I would like to create your error 404 page is that ok?

[2022-09-30 15:30] Subhangi0707 commented on #13
I want to work on this issue under hacktoberfest 2022
THANKS!!!

[2022-09-30 15:30] girlscript-asansol opened #16 "Compose an original writeup Document/Roadmap on Web Development"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
-  Share the article link in PR.

[2022-09-30 15:32] girlscript-asansol commented on #15
@LostButton Issues are assigned on 1st come, 1st serve basis. You can check the other issues in the repo.

[2022-09-30 15:36] si-ddhant commented on #16
Hi!! I can work on this documentation. Can you assign it to me??

[2022-09-30 15:36] girlscript-asansol opened #17 "Compose an original writeup Document/Roadmap on Data Structures"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
-  Share the article link in PR.

[2022-09-30 15:37] girlscript-asansol opened #18 "Compose an original writeup Document/Roadmap on Artificial Intelligence and Machine Learning"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
-  Share the article link in PR.

[2022-09-30 15:40] girlscript-asansol opened #19 "Compose an original writeup Document/Roadmap on Blockchain"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
-  Share the article link in PR.

[2022-09-30 15:41] girlscript-asansol opened #20 "Compose an original writeup Document/Roadmap on Cryptography"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
-  Share the article link in PR.

[2022-09-30 15:49] krn563 commented on #17
Hi I am interested can u please assign it to me.

[2022-09-30 16:02] skar07 commented on #18
Hello! Would love to work on this. Please assign this under hacktoberfest to me.

[2022-09-30 16:03] arpitasen20 commented on #20
I want to work on this.

[2022-09-30 16:04] arpitasen20 commented on #18
I want to work on this.

[2022-09-30 16:06] arpitasen20 commented on #19
I would love to work on this.

[2022-09-30 16:13] jay-io opened #21 "Compose an original writeup Document/Roadmap on DBMS (brief introduction to SQL/NoSQL)"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
- Share the article link in PR.

[2022-09-30 16:25] jay-io opened #22 "Compose an original writeup Document/Roadmap on Introduction to Quantum Bits & Quantum Computing"
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
- Share the article link in PR.

[2022-09-30 16:28] utkarsh006 commented on #21
@jay-io Kindly assign me this issue.

[2022-09-30 16:30] jay-io commented on #21
@utkarsh006 sure, go ahead!

[2022-09-30 16:36] skar07 commented on #22
Please assign this issue to me.

[2022-09-30 16:43] jay-io opened #23 "Create a universal blog post page."
Sample: [A medium article container](https://nkhilv.medium.com/generating-a-private-rsa-key-for-tests-node-js-c3fc23b3ef1c)

Sample 2: [Refer to the design](https://mondaynote.com/apple-car-bad-idea-after-all-9468947640ee)

1. Must contain legible title, small body text, image attachment provisions
2. Must display GirlScript Asansol Social hyperlinks
3. Must credit the author and editors
4. Anonym

[2022-09-30 17:07] jay-io commented on #7
@thatsuman If you would rather like to consider a less cluttered solution, you can add your html/js components in separate folders (with appropriate feature naming) inside [`components/[feature]`](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components) instead of the `index.html` in the root. We'll have it merged later into the main HTML file (we'll put up a separate issue). The cont

[2022-09-30 17:08] jay-io commented on #13
@souravaniket If you would rather like to consider a less cluttered solution, you can add your html/js components in separate folders (with appropriate feature naming) inside [`components/[feature]`](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components) instead of the `index.html` in the root. We'll have it merged later into the main HTML file (we'll put up a separate issue). The c

[2022-09-30 17:09] jay-io commented on #14
@Sahilbal If you would rather like to consider a less cluttered solution, you can add your html/js components in separate folders (with appropriate feature naming) inside [`components/[feature]`](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components) instead of the `index.html` in the root. We'll have it merged later into the main HTML file (we'll put up a separate issue). The conte

[2022-09-30 17:10] jay-io commented on #15
@Subhangi0707  If you would rather like to consider a less cluttered solution, you can add your html/js components in separate folders (with appropriate feature naming) inside [`components/[feature]`](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components) instead of the `index.html` in the root. We'll have it merged later into the main HTML file (we'll put up a separate issue). The

[2022-09-30 17:13] jay-io commented on #15
@LostButton Thank you for understanding. We're having a lot of contributors for hacktoberfest and it's only fair to go by the first-one-first rule. Good luck to you too!

[2022-09-30 17:46] shrutityagi4102 commented on #18
Hey @girlscript-asansol  can i take this issue ?

[2022-09-30 18:00] nishkarsh800 opened #24 "Compose an original writeup Document/Roadmap on Operating System"
- Write it in either Google Docs or on Ms Word
- Make sure to add flowcharts/images.
- Share the article link in PR.

[2022-09-30 18:07] nishkarsh800 commented on #24
@jay-io Hey project Admin with due love I want to say that, I have created this issue so that I must contribute it to your project. Kindly do assign it to me.

[2022-09-30 18:09] jay-io commented on #24
@nishkarsh800 oh sure thing, thanks! Didn't know whether this was a suggestion or a self assignment request.

[2022-09-30 18:10] nishkarsh800 commented on #24
@jay-io Thanks so much :) It was a kind suggestion. At the end, we all are here to learn and grow.

[2022-09-30 18:11] jay-io commented on #24
@modiniraj09 Are you good with writing an article on Linux instead? I'm gonna have to give this to nishkarsh800.

[2022-09-30 18:11] modiniraj09 commented on #23
Hey GSAsansol Assign it to me to work on.

[2022-09-30 18:17] modiniraj09 commented on #24
@jay-io Ok, I will manage to write on linux

[2022-09-30 18:30] jay-io commented on #24
@nishkarsh800 I was in a conversation with other maintainers and we decided we cannot have a broad topic like Operating System as of now. If we decide to have a more concise topic dealing with one of the OSes later, we'll create an issue ourselves, get in touch with you and assign you accordingly. I'll close this issue for now.

[2022-09-30 18:30] #24 closed

[2022-09-30 18:45] jay-io commented on #23
@modiniraj09 I hope I was clear enough. This page will be invoked with the corresponding content from the article JSONs when we tap on one of the [article cards](https://www.hostinger.es/tutoriales/wp-content/uploads/sites/7/2019/02/jane-friedman.png).

[2022-09-30 19:46] crsdvaibhav commented on #16
Hey can I also start working on this issue, I would Notion for a proper roadmap!

[2022-10-01 05:07] Abhinav-J05 commented on #22
hey! I would like to contribute in this, please assign this issue to me.
thank you!

[2022-10-01 06:39] pratiksrivastava01 commented on #15
@girlscript-asansol can I work on this

[2022-10-01 09:31] Aman-Singh-Kushwaha commented on #6
Hey i would like work on it i have already applied

[2022-10-01 09:48] Aman-Singh-Kushwaha opened #25 "Adding Favicons in each Pages and Sub-Pages"
Hey, a site without favicon looks like unprofessional,
I can add favicon dedicated to girlscript asansol, in each pages and further coming sub-pages.

Please assign this to me

[2022-10-01 11:08] skar07 commented on #22
@jay-io Wanted some clarification regarding the context of the document. Does it need to be an overview of the topic, along with a roadmap outlining the learning path, resources, etc, or does it need to have something else?

[2022-10-01 11:31] YashBawa opened #26 "Adding a preloader to the website"
A preloader makes the first impression of the website and makes it look much better than blank screen.

[2022-10-01 11:34] YashBawa commented on #26
Hey @jay-io please assign me with the issue, as I want to work on it . Also please add the hacktoberfest label. Thanks

[2022-10-01 12:50] girlscript-asansol commented on #26
@YashBawa please first discuss the issues with the maintainers in discord and then create it. We already have a lot of issues and and more issues will be there in future.

[2022-10-01 12:50] #26 closed

[2022-10-01 12:52] girlscript-asansol commented on #25
@Aman-Singh-Kushwaha Thanks for craeting the issue but before creating please discuss with the maintainers and give suggestions to the discord and we'll create the issues accordingly. For now we have a lot of issues already up so surely more issues wll be there.

[2022-10-01 12:52] #25 closed

[2022-10-01 12:59] utkarsh006 commented on #21
@jay-io What files I would be adding to Github? Should I write the article in README.md?

[2022-10-01 12:59] Shivam164 opened #27 "Adding a About Us Page"
We can have a page about us where contributors can add their details and name with a small image.
If this sounds good, please assign this to me.

[2022-10-01 12:59] Sahilbal commented on #14
I am having doubt what exactly your past events include . I am mentioning below some of the events I got from your linkedin page . please guide me if this is all or am i missing something.
past events of girlscript-asanol:
1. Careerscript episode(1&2)
2. portfolio competetion
3. Mother's day poster making competetion

[2022-10-01 13:05] #27 closed

[2022-10-01 13:05] Shivam164 commented on #27
My bad this issue is already present.

[2022-10-01 13:59] jay-io commented on #21
@utkarsh006 You need to save the article as a JSON in this format and place it in the path [`components/articles`](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components/articles).
[code]

Use Node's `fs` module to generate your UTF8 string from the Markdown article:
[code]
For queries, visit our Discord.

[2022-10-01 15:10] Nisha213-mar commented on #22
Please Assign this issue to me

[2022-10-01 15:11] Nisha213-mar commented on #20
Please Assign this work to me

[2022-10-01 15:12] Nisha213-mar commented on #19
I want to do this Work

[2022-10-01 15:12] jay-io commented on #22
**skar07** is already working on it @Nisha213-mar

[2022-10-01 15:13] Nisha213-mar commented on #17
Please Assign this Work to me

[2022-10-01 15:14] Nisha213-mar commented on #16
Can you Assign this work to me

[2022-10-01 15:16] Nisha213-mar commented on #6
Hey, I am Intrested on this work can you assign it to me

[2022-10-01 18:17] soumali28 commented on #6
@Aman-Singh-Kushwaha Sorry about that  was kind of busy so forgot abt the earlier issue. We'll  have more issues you cab contribute  to and also cab suggest some in the discord. We'll  assign that to you.

[2022-10-01 18:43] minhaj-313 commented on #6
Hi, I want to Contribute in Your Project, Can you Please Assign Me for Hactoberfest PR

[2022-10-02 04:38] #6 closed

[2022-10-02 04:42] girlscript-asansol opened #31 "Make the Navbar Mobile responsive."
- Currently the navbar is not responsive. Make it responsive for all devices.
- You can use bootstrap or custom css.
- Also add a gap between the logo and the brandname. and in the brand name make it GirlScript Asansol in one line instead of 2 seperate lines.

[2022-10-02 04:44] LalitChauhan27 commented on #31
Please assign this issue to me.

[2022-10-02 05:03] girlscript-asansol opened #32 "Create a footer section"
Changes are to be made in index.html, styles.html and index.js files.

### Footer Section should contain:
- GirlScript logo
- All the hyperlinks
- All social media handles of Gs Asansol : [links](https://bio.link/gsa)

### Design
Inspo: (You can refer to it and can make your own interpretations too, Creativity is welcomed.)
![Screenshot from 2022-10-02 10-31-21](https://user-images.githubuserconte

[2022-10-02 05:21] girlscript-asansol opened #33 "Add a Dark theme to the website."
Add a toggle button to switch between the themes.

[2022-10-02 05:23] Souvik-Nayak commented on #33
Can i work in this issue ?

[2022-10-02 05:43] heza-ru commented on #32
I would like to work on this issue.

[2022-10-02 05:46] Aman-Singh-Kushwaha commented on #32
I have opted to work on this

[2022-10-02 06:04] IAmTamal opened #35 "Addition : Issue Templates 🛠"
## What i am suggesting to add ?

I am suggesting to add **Issue Templates** to the repository, it can be as many categories as needed - primary categories of issues are mostly : `bugs`, `docs`, `general feature` and so on.

## Why to add it ?

Adding an issue Template allows you to organize the issues made by folks in a much better way.
 - We can know if someone wants to add a feature.
 - We can

[2022-10-02 06:11] vaibhav-1508 commented on #33
hey, can I work on this issue?

[2022-10-02 07:37] soumali28 commented on #32
@heza-ru he suggested  this issue on discord before. You can also suggest some if you want or else wait a few days we'll  create more issues.

[2022-10-02 08:06] utkarsh006 commented on #35
@IAmTamal Assign me this issue.

[2022-10-02 08:07] utkarsh006 commented on #21
Kindly check my article [LINK](https://docs.google.com/document/d/17q_QEJ_e1Oy_seW9OHScb3zLk0kbTfXiupClbzJLLN8/edit?usp=sharing)

[2022-10-02 09:57] #33 closed

[2022-10-02 10:22] jay-io opened #39 "Test: Discord Webhook"

[2022-10-02 10:23] #39 closed

[2022-10-02 13:22] Sahilbal commented on #14
@jay-io I am having doubt what exactly your past events include . I am mentioning below some of the events I got from your linkedin page . please guide me if this is all or am i missing something.
past events of girlscript-asanol:

1.Careerscript episode(1&2)
2.portfolio competetion
3.Mother's day poster making competetion

[2022-10-02 16:46] heza-ru commented on #32
@soumali28 No worries I will wait for other issues that I can take on, always happy to contribute!

[2022-10-02 17:48] jay-io commented on #14
@Sahilbal Yes that's all we've had, since our chapter is very new (5months+). You can continue with these.
Make sure the cards contain:
1. Event poster
2. Event title
3. Brief event description (~30 words)

[2022-10-02 18:16] jay-io commented on #35
Thank you for the suggestion but maybe, we'll look into this towards the end of Hacktoberfest. For now, we want to stick to a dynamic approach because we're mentoring a very select group of beginners in webdev and we need to explain the responsibilities as elaborately as possible. Could you please open a custom issue thread in our Discord so that we can get back to you when the time comes? I'll ha

[2022-10-02 18:16] #35 closed

[2022-10-02 18:27] #12 closed

[2022-10-02 18:33] IAmTamal commented on #35
So here's something i wanted to ask.

Using Issue templates which technically works like a form with different types of field inside where someone can add data (texts, screenshots, markdown files) , which helps sort different types of issues like bugs, Major changes, new features and explain the roles and responsiblities involved , rather a description of that whole issue in a more detailed manner

[2022-10-02 18:51] jay-io commented on #35
@IAmTamal Don't get me wrong. I actually wanted to assign you this because it only makes sense to have a template but I am asked to rule out such issues as unnecessary as of now for certain reasons I don't understand myself. @girlscript-asansol will assign you to this if there is a change of mind : /

![](https://y.yarn.co/66b0bd01-8563-45bd-9fcc-6ea363f59f3f_text.gif)

[2022-10-02 21:02] #31 closed

[2022-10-03 04:10] Sahilbal commented on #14
okay. understood. thank you.

[2022-10-03 05:35] debjitpurohit commented on #21
I am a hacktoberfest 2022 participant. Please assing this issue to me.

[2022-10-03 08:52] jay-io commented on #21
@debjitpurohit Go ahead.

[2022-10-03 12:57] #22 closed

[2022-10-03 12:59] #23 closed

[2022-10-03 13:03] girlscript-asansol opened #43 "Create a Custom ScrollBar."
Changes are to be made in index.html, styles.html and index.js files.

The Scrollbar should be syncing with the dark and light mode.

### Please join the [Discord](https://discord.com/invite/aVRPbMYfFH) to discuss design of the components.

[2022-10-03 13:08] girlscript-asansol opened #44 "Create the custom cursor."
- you can use your creativity.

[2022-10-03 13:08] Debdeep1 commented on #44
I want to work on this under hacktoberfest

[2022-10-03 13:09] modiniraj09 commented on #43
Hey please assign it to me

[2022-10-03 13:14] Santushti26 commented on #16
can you assign this work to me?

[2022-10-03 13:15] girlscript-asansol opened #45 "Fix the components folders"

[2022-10-03 13:37] girlscript-asansol opened #46 "Create the our team section"
Changes are to be made in index.html, styles.html and index.js files.

### Our Section should contain:
- Core Team: [Refer to the link to get the details](https://www.linkedin.com/posts/gsasansol_core-members-of-girlscript-asansol-activity-6923232012543668224-AI7q?utm_source=share&utm_medium=member_desktop)
- Volunteers:  [Refer to the link to get the details](https://www.linkedin.com/posts/gsasan

[2022-10-03 13:45] girlscript-asansol opened #47 "Create a FAQ Section"
Changes are to be made in index.html, styles.html and index.js files.

### FAQ Section should contain:
- What is GS Asansol: GirlScript Asansol is a non-profit student run community registered under the GirlScript Foundation on 23rd April, 2022. We aim to empower people and especially underrepresented groups in the field of technology. GirlScript Asansol's mission is to create opportunity, learnin

[2022-10-03 13:49] AdityaShaw1 commented on #46
Assign me pls

[2022-10-03 13:56] riyaku11 commented on #47
I would like to work on this, please assign me this issue

[2022-10-03 13:58] girlscript-asansol opened #48 "Revamp resource page (container for blogs #23)"
- Do a figma design of the resouce page
- it will contain blogs/roadmaps
- refer to issue #23

[2022-10-03 13:59] AdityaShaw1 commented on #48
Hi admin pls assign me..

[2022-10-03 14:10] girlscript-asansol opened #49 "Compose an original writeup Document/Roadmap on Android Development."
- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
- Share the article link in PR.

[2022-10-03 14:16] thatsuman commented on #49
Want to work on this.

[2022-10-03 14:25] Anurag-Singh-04 commented on #46
Hey @girlscript-asansol I would like to contribute to this project. Please let me know what I can do.

[2022-10-03 15:36] girlscript-asansol opened #51 "Fix the toggle button in mobile view"
- Fix the button in the middle so that it looks good.

![Screenshot from 2022-10-03 21-05-23](https://user-images.githubusercontent.com/104223990/193618137-4a6bbf92-6bc1-404c-9210-778426cc9cd7.png)

[2022-10-03 15:37] LalitChauhan27 commented on #51
Please assign this to me.

[2022-10-03 15:50] Debdeep1 commented on #13
@souravaniket any update about the work?

[2022-10-03 15:52] Debdeep1 commented on #16
@si-ddhant any update?

[2022-10-03 15:53] Debdeep1 commented on #17
@krn563 any update?

[2022-10-03 15:55] modiniraj09 commented on #49
Hey I want to work on it

[2022-10-03 16:03] si-ddhant commented on #16
Yes!! Just finishing it up. Gonna submit the PR by night.

[2022-10-03 16:56] RathoreAbhiii commented on #13
I would be willing to work on this issue if there are no updates soon! @girlscript-asansol Could you maybe assign it to me if needed? Thanks!

[2022-10-03 17:10] Debdeep1 commented on #13
Thanks for letting us know.

[2022-10-03 17:30] thatsuman commented on #49
With due respect @girlscript-asansol , I was the first one who wished to work on this issue.

[2022-10-04 05:18] girlscript-asansol opened #53 "Fix blog card"
- Shift the image to the center
- Give some margin at the bottom of the image
- Style the add comment box a bit.
- Change the post commet button to square.
- Change the background from grey to [this](https://upload.wikimedia.org/wikipedia/commons/2/24/IMG_asnrlyjn.jpg)

[2022-10-04 05:19] Subhangi0707 commented on #53
i want to work on this issue under hacktober 2022

[2022-10-04 05:23] girlscript-asansol commented on #49
@thatsuman He actually suggested this issue to me.

[2022-10-04 05:23] #15 closed

[2022-10-04 05:28] thatsuman commented on #49
Oh Okay! Thanks for clarification. I'll wait for next issue.

[2022-10-04 06:03] Gammashoo commented on #46
Would love to work on this.

[2022-10-04 06:26] girlscript-asansol commented on #13
@souravaniket any updates kindly let us know by today else we have to reassign it.

[2022-10-04 06:27] girlscript-asansol commented on #14
@Sahilbal Whats the update?

[2022-10-04 06:30] girlscript-asansol commented on #20
@arpitasen20 whats the update?

[2022-10-04 06:43] Sukriti-m opened #55 "Make a form for contact us section"
I will make a form for contact us section

Please assign this issue to me and add the 'hacktoberfest' label to it. @girlscript-asansol

[2022-10-04 06:49] girlscript-asansol commented on #55
@Sukriti-m Thanks for your suggestion, we'll create the issue and assign it to you. You can join the discord to suggest custom issues.

[2022-10-04 06:49] #55 closed

[2022-10-04 06:53] girlscript-asansol opened #56 "Create a Contact Us form"
Changes are to be made in index.html, styles.html and index.js files.

### Contact Us  Section should contain:
- Title: Contact Us
- Name
- Email
- Message
- Submit Button

___
### Design
Inspo: (You can refer to it and can make your own interpretations too, Creativity is welcomed.)
![Screenshot from 2022-10-04 12-21-33](https://user-images.githubusercontent.com/104223990/193753240-9ae6a276-b977-4

[2022-10-04 06:54] girlscript-asansol commented on #55
@Sukriti-m  plz cmt on it
https://github.com/gsasansol/GirlScript-Asansol/issues/56

[2022-10-04 07:22] Sukriti-m commented on #56
Please assign this issue to me and add the 'hacktoberfest' label to it. @girlscript-asansol

[2022-10-04 07:35] arpitasen20 commented on #20
Will be uploading today...almost done

[2022-10-04 10:35] si-ddhant commented on #16
i am having issues converting markdown file into utf-8 string

[2022-10-04 11:11] Vic-Dev001 commented on #56
@girlscript-asansol, I'll be glad to contribute to this issue

[2022-10-04 12:36] Sahilbal commented on #14
finishing it up.. I'll submit the PR by night.

[2022-10-04 16:05] #53 closed

[2022-10-04 16:11] #47 closed

[2022-10-04 16:30] JASKIRAT11011 commented on #48
hi @girlscript-asansol , please assign me the same issue , i can prepare a figma design

[2022-10-04 16:52] #14 closed

[2022-10-04 16:55] #18 closed

[2022-10-04 17:06] #51 closed

[2022-10-04 17:07] #16 closed

[2022-10-04 18:34] Sukriti-m commented on #56
Hey @soumali28
I apologize that I won't be able to work on this issue. You can go ahead and assign it to somebody else.

[2022-10-04 18:41] LalitChauhan27 commented on #56
@soumali28 You can assign this to me.

[2022-10-04 18:43] Subhajitongit commented on #56
Hey, would love to work on this issue! Can you please assign it to me?

[2022-10-04 22:51] jay-io commented on #49
@thatsuman You can discuss your own ideas on our Discord issues forum. This way, your chances of being assigned an issue and contributing to this repository will be more. Relying on GitHub notifications will be a rat race.

[2022-10-05 04:13] #43 closed

[2022-10-05 04:56] girlscript-asansol opened #65 "Create a preloader for the website"
- You can design your own or take inspiration from the internet.

[2022-10-05 04:58] JASKIRAT11011 commented on #65
Yes i would like to work on the following issue ,please can u assign me

[2022-10-05 04:59] girlscript-asansol opened #66 "Migrate the past evemts section"

[2022-10-05 06:02] #66 closed

[2022-10-05 06:06] #44 closed

[2022-10-05 06:11] girlscript-asansol opened #69 "Fix the Navbar"
- The navbar in the mobile has some bugs
- The options should be at the bottom and also the logo and brand name should stick together.
![Screenshot from 2022-10-05 11-38-20](https://user-images.githubusercontent.com/104223990/193992831-373853fd-7fce-4e69-99af-b6095dc5fa53.png)

[2022-10-05 06:14] girlscript-asansol opened #70 "Make the past event section responsive"
- Currently the past event is nor responsive make it responsive in all devices
- add a shawdow to the carousel items
- add the arrow buttons of the carousel
![Screenshot from 2022-10-05 11-39-13](https://user-images.githubusercontent.com/104223990/193993338-f64cf81d-64d6-4911-b591-4ea2ee0b44fe.png)

[2022-10-05 06:16] thatsuman commented on #70
Hey, I would like to work on this

[2022-10-05 06:16] Sahilbal commented on #70
I will do that please assign it to me.

[2022-10-05 06:18] LalitChauhan27 commented on #69
@girlscript-asansol Please assign this issue to me.

[2022-10-05 06:19] girlscript-asansol opened #71 "Fix the faq sec in the mobile view"
- add a bit of padding outside the faq boxes.
- space it out a bit
- also fix the overflow at the y axis
![Screenshot from 2022-10-05 11-48-27](https://user-images.githubusercontent.com/104223990/193993920-29cc1167-6f19-4d97-8cf9-8b23e577f4a9.png)

[2022-10-05 06:31] Sahilbal commented on #66
@soumali28  changes are required in index.html beacause path of img in img tag is wrong for first three images. See in the below picture  img tag should contain ".Assets/event1.png" instead of ./Assets/events2.png
![Capture (2)](https://user-images.githubusercontent.com/114430429/193995081-93daf566-bbb3-41f9-a9e3-19bcb0f58f77.PNG)

[2022-10-05 06:46] girlscript-asansol opened #72 "Past Event Section Changes"
- Add clickable links to the cards: Links should redirect to the linkedIn post
- Add 3 cards at a time
- Image allignment
- Add a bit of border radius
- Also the card title, example Portfolio competition change the colour to match the theme.

[2022-10-05 06:47] Sahilbal commented on #72
please assign this to me

[2022-10-05 06:51] girlscript-asansol opened #73 "Make 404 mobile responsive"
- Fix the overflow in the 404 page
- Make it mobile responsive
- Increase the image size for the mobile view

[2022-10-05 06:52] Subhangi0707 commented on #73
please ussign this to me under hacktober fest2022

[2022-10-05 07:32] JASKIRAT11011 commented on #65
hi @girlscript-asansol ,for the preloader , should i create a figma design for you or a frotnend working code?

[2022-10-05 07:32] sumit-022 commented on #73
I can work on this. Please assign this to me

[2022-10-05 08:19] jay-io opened #76 "Add a scroll-to-top button"
Title says it all.

[2022-10-05 08:21] Anupamgupt commented on #76
Can I work On this issue?

[2022-10-05 08:21] debjitpurohit commented on #76
assing me on that issue

[2022-10-05 08:30] jay-io commented on #76
@Anupamgupt @debjitpurohit This issue is assigned to a fellow core member. Follow the `#github` channel on Discord to stay notified for other new issues or suggest your own improvements in the `#custom-issues` forum.

[2022-10-05 08:39] aaheli8 commented on #76
Please assign me this issue.

[2022-10-05 08:56] jay-io opened #78 "Dismissable top notification bar with mutable content"
- Notif. bar must be versatile with these properties defined:
  - background color
  - smooth collapse transition
  - a notif-bar-btn class with tunable background and text: hover, on-click effects (Material UI recommended)
  - center alignment of all content other than the dismissing cross on the extreme right (appropriate margins please)

Inspo:
![Random google image](https://themaverickspirit.c

[2022-10-05 08:56] JASKIRAT11011 commented on #65
i have created a branch saying "preloader-added" in my github after forking your repository and further i haveadded the functionality in that branch and sent a PR as well ,

[2022-10-05 09:00] Rahul-Palahwat commented on #78
Hey @jay-io i want to work on this issue , can you assign this to me??

[2022-10-05 09:07] #21 closed

[2022-10-05 09:12] #69 closed

[2022-10-05 10:03] ahmedsilat44 opened #80 "Theme change button doesn't work"
The Theme change button on the NavBar has no functionality
![image](https://user-images.githubusercontent.com/105588821/194035160-9a76ce3a-96af-415c-9922-cfa5bf297d76.png)

[2022-10-05 10:12] RachitGarg-12 commented on #80
Hey @ahmedsilat44 can i work on this issue

[2022-10-05 10:13] ahmedsilat44 commented on #80
I am not a maintainer I just saw this bug and raised the issue

[2022-10-05 10:14] RachitGarg-12 commented on #71
Hey @jay-io i would like to work on this issue.

[2022-10-05 10:15] RachitGarg-12 commented on #80
Ok

[2022-10-05 10:47] Noobham commented on #76
hey , Can you plzz assign this issue to me . i want to work on it .

[2022-10-05 10:51] girlscript-asansol opened #81 "Smooth FAQ transition"

[2022-10-05 10:56] girlscript-asansol opened #82 "Add links to the navbar"
- redirect the navbar to the proper links when clicked on it.

[2022-10-05 10:56] LalitChauhan27 commented on #82
@girlscript-asansol Can I work on this issue?

[2022-10-05 11:02] ahmedsilat44 commented on #80
I am not sure how to fix this. If you can guide me through it I would like to contribute.

[2022-10-05 11:12] girlscript-asansol commented on #80
yeah sure we'll guide you. In the header section there is the curve spere which is not responsive to the dark mode. you just have to select it and add class name dark to it. If you want to contribute then we'll create the issue.

[2022-10-05 11:22] #78 closed

[2022-10-05 11:23] Rahul-Palahwat commented on #82
Hey @girlscript-asansol please assign this issue to me??

[2022-10-05 11:26] roshan1337d commented on #81
Can I be assigned to this with reference to the [this](https://github.com/gsasansol/GirlScript-Asansol/pull/74) please?

[2022-10-05 11:29] #81 closed

[2022-10-05 11:44] #65 closed

[2022-10-05 11:48] debjitpurohit commented on #82
Assing me this issue.

[2022-10-05 11:50] girlscript-asansol commented on #82
@Rahul-Palahwat he suggested this issue on your discord. you can wait for new issues or can suggest some too on our discord server.

[2022-10-05 11:51] LalitChauhan27 commented on #32
Hey @girlscript-asansol, I will be willing to work on this issue if you have to reassign this.

[2022-10-05 11:54] girlscript-asansol opened #87 "Preloader fixes"
- Change the font-style
- Change the background colour add a pretty image

[2022-10-05 11:55] Debdeep1 commented on #87
Assign me

[2022-10-05 12:07] girlscript-asansol opened #89 "Faq clickability"
- faq section should expand on clicking anywhere in the question
- change the colour in the dark mode.

[2022-10-05 12:09] Rahul-Palahwat commented on #89
@girlscript-asansol assign this issue to me..

[2022-10-05 12:15] sumit-022 commented on #82
I can work in this. Please assign me the issue

[2022-10-05 12:22] ahmedsilat44 commented on #80
Thank you for the guide, and yes I would like to contribute. 😃

[2022-10-05 12:43] #87 closed

[2022-10-05 13:44] Ashpreetwadhwa commented on #82
I want to do this task can you assign me this

[2022-10-05 16:09] #82 closed

[2022-10-05 16:21] jay-io commented on #19
@Nisha213-mar Are you up for this?

[2022-10-05 16:37] jay-io opened #96 "Navbar needs some make over"
The navbar could have an overlay like in the attached sample with orange background and an svg patten overlay that can be discussed with the maintainers. Contributors can be creative with their own ideas.

Search bar is not required.

![Navbar inspiration](https://cdn.discordapp.com/attachments/1027201676668583977/1027241920952533053/Screenshot_from_2021-12-05_02-24-33.png)

**Assigned to `Debjit#

[2022-10-05 16:41] JASKIRAT11011 commented on #96
@jay-io can u please assigne me this issue

[2022-10-05 16:42] JASKIRAT11011 commented on #96
is this for haktober fest?

[2022-10-05 16:49] jay-io commented on #96
@JASKIRAT11011 Sorry this has been taken. Someone suggested it in the forum earlier. Stay on the lookout for newer issues. And yes, this is for Hacktoberfest.

[2022-10-05 16:50] JASKIRAT11011 commented on #96
okay np

[2022-10-05 17:07] debjitpurohit commented on #96
Assing me on this issue.

[2022-10-05 17:16] jay-io commented on #96
@thisisharsh7 We'll let **debjitpurohit** finish first. If you still have changes to suggest, we'll recommend discussing it with the other maintainers on our Discord forum. That is the standard way we're approving contributor suggestions for now.

[2022-10-05 17:34] regdocs opened #97 "(1) Material UI for notification bar button class, (2) centre alignment for notif bar components"
- Centre all components in the notif. bar. The button looks edgy. Redefine the css to resemble google's Material UI:

![Screenshot from 2022-10-05 22-53-45](https://user-images.githubusercontent.com/55305804/194124051-44b6d8d4-2d71-4d8c-bc5c-74cbd1f55d26.png)

Material UI button (choose primary):

![1cfbjlepc41xy7f4tccp](https://user-images.githubusercontent.com/55305804/194124270-faf6f01f-c022-42

[2022-10-05 17:37] jay-io commented on #97
@LalitChauhan27 sure.

[2022-10-05 17:43] LalitChauhan27 commented on #97
@jay-io Can you please add the necessary labels.

[2022-10-05 18:06] jay-io commented on #97
@LalitChauhan27 Can you try adding a smooth collapse animation as well?

[2022-10-05 18:14] RathoreAbhiii commented on #13
Please look for any other issues as I am working on this. Thanks!

[2022-10-05 21:01] yogesh-9999 commented on #72
Hey @girlscript-asansol  assign this to me

[2022-10-06 01:53] Sahilbal commented on #72
I have already submit the work.

[2022-10-06 04:38] LalitChauhan27 commented on #97
Okay, no problem.

[2022-10-06 04:58] #89 closed

[2022-10-06 05:08] #72 closed

[2022-10-06 05:10] JASKIRAT11011 commented on #73
please assign me 404 mobile responsive issue

[2022-10-06 05:12] #70 closed

[2022-10-06 05:16] soumali28 opened #99 "Migration of the pastevents and some changes"
- need to migrate the past events secion to the main index.html
- change the shawdow from yellow to some light grey or something that looks pleasant, give it a blur effect.

[2022-10-06 05:24] soumali28 commented on #32
@Aman-Singh-Kushwaha whats the update?

[2022-10-06 05:25] #80 closed

[2022-10-06 05:26] girlscript-asansol opened #100 "Heading of past events and FAQ section is not clearly visible after enabling dark mode."
- Title says it all.

[2022-10-06 05:27] jay-io commented on #100
Assigned to `Lalit Chauhan#8340` from Discord forum.

[2022-10-06 05:31] LalitChauhan27 commented on #100
Please assign me this.

[2022-10-06 05:54] Aman-Singh-Kushwaha commented on #32
I have created proposed basic layout of the footer only waiting to add items in column items like sub pages which I have asked in discord server

[2022-10-06 06:08] LalitChauhan27 commented on #97
Hey @jay-io, I don't get any resource until now from where I can use google's Material UI buttons in our css file. They all are implemented in java language for andriod apps. Can you please refer me to some resources or you can review the changes I have made until now, from now on I just need to add a smooth collapse animation.

[2022-10-06 06:21] soumali28 opened #101 "Fix the Preloader Scroll"
- The preloader has a scroll bar and is scrollable fix this bug.
![Screenshot from 2022-10-06 11-49-29](https://user-images.githubusercontent.com/66300439/194228931-b0b800a2-af61-4530-bee0-370a359506d8.png)

[2022-10-06 06:26] Joshua-Nweze commented on #101
Hi @soumali28 Please assign this to me

[2022-10-06 06:45] LalitChauhan27 commented on #97
Thanks for the help. I used the div that contains only the text and the button to center the elements. Can you please explain what is missing?

[2022-10-06 07:00] TheSaptarshiBanerjee commented on #76
please assign this issue to me. I am excited to work on it.

[2022-10-06 07:02] TheSaptarshiBanerjee commented on #56
hey , can you assign this issue to me?

[2022-10-06 07:04] TheSaptarshiBanerjee commented on #32
I would like to work on this issue.
can you please assign this issue to me?

[2022-10-06 07:07] TheSaptarshiBanerjee commented on #73
I can work on this. Please assign this to me

[2022-10-06 07:25] Aman-Singh-Kushwaha commented on #32
@TheSaptarshiBanerjee  I am currently working on it

[2022-10-06 07:52] jay-io commented on #97
@LalitChauhan27 Let's look at the code in your PR, if you're done.

[2022-10-06 09:24] girlscript-asansol opened #105 "Create an achievement section"
Changes are to be made in index.html, styles.html and index.js files.

### Achievement  Section should contain:
Title: Accomplishment.
- 500+ Members
- 25+ Events
-  10+ Mentorship Provided
Background should be white, and colour should be matching with the theme
___

### Design
Inspo: (You can refer to it and can make your own interpretations too, Creativity is welcomed.)
![website-design-preview-

[2022-10-06 09:26] #97 closed, assigned to LalitChauhan27

[2022-10-06 09:27] JASKIRAT11011 commented on #105
i want to contribute on this issue , can you please assign me this

[2022-10-06 09:30] #99 closed

[2022-10-06 09:31] spike-spiegel-21 commented on #105
I have experience with the Bootstrap library. I will be able to create this section. Requesting to assign me this task.

[2022-10-06 09:34] girlscript-asansol opened #106 "Align the past event section properly"

[2022-10-06 10:11] debjitpurohit commented on #19
Can u assign me on this issue?

[2022-10-06 10:14] jay-io commented on #19
@debjitpurohit Sure.

[2022-10-06 10:15] debjitpurohit commented on #19
Thank you @jay-io

[2022-10-06 10:51] #106 closed

[2022-10-06 10:55] JASKIRAT11011 commented on #105
@girlscript-asansol i have a made a PR for a achievement section, can u confirm please

[2022-10-06 10:56] #100 closed

[2022-10-06 11:35] #49 closed

[2022-10-06 12:06] jay-io opened #112 "FAQ section can be improved"
- Changes to the toggle drop-down design
- New illustration on the right, FAQ to the left

![FAQ inspo](https://cdn.discordapp.com/attachments/1027547361788043315/1027547362773696582/IMG_20221006_171046.jpg)

Assigned to `Suman#5129` from Discord forum.

[2022-10-06 13:25] girlscript-asansol opened #113 "Past Event Changes"
- make the past event section in the mobile view one after the other. Currently it is like 3 cards vertically showing but make it one card at a time
- the transition is not smooth enough make the carousel transition smooth.
### Present past event section
![Screenshot from 2022-10-06 18-51-09](https://user-images.githubusercontent.com/104223990/194324322-a0d65499-11a0-42d6-91b2-26677b46dc63.png)
##

[2022-10-06 14:05] debjitpurohit commented on #113
assign me on this issue

[2022-10-06 14:41] RathoreAbhiii commented on #13
Yes, @girlscript-asansol. Could you please assign this issue to him as I have completed a similar issue in a different repository, as a result l, I am unassigning this issue from me. Hope you understand. Thanks!

[2022-10-06 14:43] RathoreAbhiii commented on #13
@nub-rin will be carrying forward the rest of my work, that's why I am asking to assign this issue to him.

[2022-10-06 15:01] JASKIRAT11011 commented on #105
@girlscript-asansol @jay-io

[2022-10-06 15:59] #19 closed

[2022-10-06 16:07] jay-io commented on #13
@RathoreAbhiii Okay, sure.

[2022-10-06 16:17] jay-io commented on #71
@Debdeep1 #116 Revamped the whole FAQ, so this issue can be closed ig.

[2022-10-06 16:17] #71 closed

[2022-10-06 16:38] jay-io opened #117 "Bug: FAQ dropdown won't collapse"
Assigned to `Debjit#8340` from Discord forum.

[2022-10-06 16:56] debjitpurohit commented on #117
Please assing me .

[2022-10-06 17:43] #117 closed

[2022-10-06 19:37] thatsuman commented on #105
I want to work on this

[2022-10-06 19:37] jay-io commented on #105
@thatsuman  Go to #114 for samples.

[2022-10-06 20:57] subashpaul commented on #113
Raised PR. plz check it

[2022-10-07 00:49] #105 closed

[2022-10-07 03:58] girlscript-asansol opened #122 "Add a mouse trail effect."

[2022-10-07 03:59] Debdeep1 commented on #122
Assign this to me.

[2022-10-07 04:09] #122 closed

[2022-10-07 05:04] jay-io commented on #32
@Aman-Singh-Kushwaha Please check your GitHub if you haven't yet. There are a few updates in your Footer thread.

[2022-10-07 05:15] #113 closed

[2022-10-07 05:45] JASKIRAT11011 commented on #17
@jay-io can u please assign me this

[2022-10-07 05:45] JASKIRAT11011 commented on #20
@jay-io can u please assign me this

[2022-10-07 06:20] Anikalp1 opened #125 "Will be adding favicon for website."
1.  [ ] Will be adding favicon for girlscript asansol logo.

![Screenshot (105)](https://user-images.githubusercontent.com/96365444/194480876-f0599c0c-d256-4d90-b6f9-80b64a9305c1.png)

[2022-10-07 06:25] jay-io commented on #125
Please go through the contribution rules in [`README.md`](https://github.com/gsasansol/GirlScript-Asansol/blob/main/README.md).

[2022-10-07 07:30] #125 closed

[2022-10-07 07:39] girlscript-asansol opened #127 "Apply Typed.js in the header title"
- add a typed.js effect
- use your creativity

[2022-10-07 07:52] girlscript-asansol opened #128 "Revamp the Navbar"
- change font-weight (in the ancor tag) don't make it bold
- Add social links in noti bar
- change hover effect on anchor tags

[2022-10-07 08:01] girlscript-asansol opened #129 "Fix the noti-bar cross, and some more changes"
- The noti bar has a cross button which overlays in the website.(for mobile view) Fix the position of it.
![Screenshot from 2022-10-07 13-24-17](https://user-images.githubusercontent.com/104223990/194502866-37fd35e1-b49c-48ac-b653-d9fb568d216e.png)
- Add some padding at the bottom of  the h1 of the accomplishment(mobile view).
- Decrease the padding (in the mobile view) between the accomplishment

[2022-10-07 08:03] girlscript-asansol commented on #46
@AdityaShaw1 Whats the update?

[2022-10-07 08:04] girlscript-asansol commented on #48
@AdityaShaw1 what's the update?

[2022-10-07 08:19] debjitpurohit commented on #129
Assing me o this issue.

[2022-10-07 08:36] SabujGolui commented on #128
Assign it to me. I'll be more than pleased to assist.

[2022-10-07 08:55] #73 closed

[2022-10-07 09:02] soumali28 opened #131 "Modify the 404 page"
- give gradient to home page anchor tag
- change the illustration
- increase the 404 contact buttons

[2022-10-07 09:02] Subhangi0707 commented on #131
plz assign this to mee

[2022-10-07 09:02] Subhangi0707 commented on #131
under hacktoberfest 2022

[2022-10-07 09:48] girlscript-asansol opened #132 "Modify the blogCard"
Changes will happen in Resources>index.html or Resources>styles.css
- give a blur effect to the background image
- try to give a parallax effect
- increase the width of the blog card in desktop view

[2022-10-07 09:51] AadeshKabra commented on #132
I would like to work on this, could you assign me?

[2022-10-07 12:45] srijoy-paul commented on #132
@girlscript-asansol Can you assign me this issue?

[2022-10-07 13:45] soumali28 commented on #56
@yosaami whats the update?

[2022-10-07 15:43] srijoy-paul commented on #128
@girlscript-asansol Can you assign this to me? I would like to work on this

[2022-10-07 17:41] jay-io commented on #128
@SabujGolui @SabujGolui This issue has already been assigned. Wait for newer issues or suggest your own features and fixes on our Discord forum. I'll recommend the latter.

[2022-10-07 19:30] soustab10 opened #134 "Add animations to the Accomplishments Section"
Change the static accomplishments section to animated (Figures start from 0 to the number) giving the site a more dynamic look.
![image](https://user-images.githubusercontent.com/95632583/194639540-c886c9e8-36cb-46ce-b83d-45385a5ea452.png)

The dark mode toggle does not change to moon icon when switched to dark mode.

If approved, I would like to work on these issues.

[2022-10-07 23:25] Vic-Dev001 commented on #56
@yosaami please can you brief us on the update with the issue assigned to you?

[2022-10-07 23:33] Vic-Dev001 commented on #134
Please assign this to me.

Under the Hacktoberfest

[2022-10-08 02:52] #129 closed

[2022-10-08 02:53] AnkitaMalik22 opened #138 "Dark mode icon"
Page is changing to dark mode but the icon is not changing .
- show dark mode icon when page is on light mode
- show light mode icon when page is on dark mode

![Screenshot_20221008-082017.png](https://user-images.githubusercontent.com/80139836/194684598-bc5b9d39-58ff-414a-ae87-b700a53329e8.png)

I would love to do it,please assign me!

[2022-10-08 02:56] AnkitaMalik22 opened #139 "Slider buttons not working"
- not moving to next slide or prev slide on click

![Screenshot_20221008-081635.png](https://user-images.githubusercontent.com/80139836/194684675-f082bf97-988c-4638-85a8-0948724fe7e5.png)

[2022-10-08 03:47] VedantBandeJain commented on #134
please assign this issue to me  I understood the thing u expect.

[2022-10-08 05:01] girlscript-asansol commented on #134
@soustab10 Thanks for raising this issue. We'll assign it too you but from the next time before raising the issue plz discuss it in our discord forum.

[2022-10-08 05:03] girlscript-asansol commented on #139
@AnkitaMalik22 Thanks for raising this issue, The slider button doesn't work only in the mobile view for the desktop it works fine. We'll assign it to you but from the next time before raising the issue directly please disscuss it with our maintainers in the discord forum.

[2022-10-08 05:05] girlscript-asansol commented on #138
@AnkitaMalik22 Thanks for raising this issue. But I believe someone already working on similar issue so for the time being we have to close it. But you can suggest more custom issue on our discord server.

[2022-10-08 05:05] #138 closed

[2022-10-08 05:19] jay-io commented on #56
@Vic-Dev001 If you're looking to contribute in our repository, I'll recommend joining the Discord forums and suggesting your own issues. You'll be assigned immediately after approval by the maintainers.

[2022-10-08 05:24] Morbius00 opened #140 "UI and UX Changes"
<img src="https://img.shields.io/badge/hacktoberfest-2022-blueviolet" alt="Hacktober Badge"/>

# UI and UX Changes
I just check out your website and I found that your website needs a little spice up of UI and UX .
so, please assigned me for it I hope I will not disappoint you.

[2022-10-08 05:26] girlscript-asansol commented on #140
@Morbius00 Can you discuss the changes with us in our discord forum and elaborate what changes you will do then we'll create an issue for you.

[2022-10-08 05:26] #140 closed

[2022-10-08 05:33] Morbius00 opened #141 "UI and UX changes"
<img src="https://img.shields.io/badge/hacktoberfest-2022-blueviolet" alt="Hacktober Badge"/>

# UI and UX  changes

Hey guys I just checked your website and find out that you guys need a little spice up of UI and UX changes
So, please assigned me for it  I hope that I will not disappoint you guys.
Regards,

[2022-10-08 05:36] girlscript-asansol commented on #141
@Morbius00 Can you discuss the changes with us in our discord forum and elaborate what changes you will do then we'll create an issue for you.

[2022-10-08 05:56] Morbius00 commented on #141
Yea Sure
# Here you can see the heading is collapsing and the cards also looks a little bit boring
SOL: fixing the issue and add a little bit hover animation cards
![Screenshot 2022-10-08 111848](https://user-images.githubusercontent.com/102956488/194691316-e7522350-6e75-4fb6-a643-e224efbd1546.png)
# the unwanted break  line
![Screenshot 2022-10-08 111914](https://user-images.githubusercontent.com

[2022-10-08 06:03] girlscript-asansol commented on #141
@Morbius00
- for the accomplishment cards dont add the any animation its already created and someone is working on it.
- You can add hover effect though on the cards
- fix the line break and the accomplishment padding (this only happens in the 4k resolution in other view points its perfect)
- the navbar issue is already there and someone is fixing it so no need for the navbar changes.

[2022-10-08 06:07] Morbius00 commented on #141
ok thanks for the assigned

[2022-10-08 06:18] #48 closed

[2022-10-08 06:19] varun7678 commented on #46
I would like to work on that. Please assign me to this

[2022-10-08 06:25] girlscript-asansol opened #142 "Create the Resource Page"
Create a new file in Resources folder named  resource.html, resource.css and resource.js.

### Resource page should contain:
- Navbar (already made)
- Cards for the resources (you can find the resources under components>articles)
- custom Scroll bar(already made)
- Instead of Roadmaps as title give it Resources and Roadmaps
- Link the resource.html file to the resoruces in the navbar section.
- On

[2022-10-08 06:28] SatyajeetShinde commented on #142
Can you please assign me the task.

[2022-10-08 07:18] Morbius00 commented on #141
hey @girlscript-asansol  many of you scss files and bootstarap files are missing in this repo.
thats why cant able to fix the issues

[2022-10-08 07:42] yogesh-9999 commented on #13
hey @JASKIRAT11011  Please assign this to me

[2022-10-08 07:43] yogesh-9999 commented on #56
hey @jay-io  Please assign this to me

[2022-10-08 07:43] jay-io commented on #141
@Morbius00 All good?

[2022-10-08 07:43] yogesh-9999 commented on #131
Hey @soumali28  Please assign this to me

[2022-10-08 07:43] yogesh-9999 commented on #139
Hey @AnkitaMalik22  Please assign this to me

[2022-10-08 07:54] #131 closed

[2022-10-08 07:58] jay-io commented on #13
@nub-rin Any updates? Please respond, or we'll have to reassign. We have other contributors willing to work on this portion.

[2022-10-08 08:00] Morbius00 commented on #141
yea good required changes made ready to pr

[2022-10-08 08:01] nub-rin commented on #13
Hey, sorry for the delay. I will be creating a pr in like 3 hrs from now. Will post an update screenshot for revision in around an hour.

[2022-10-08 08:04] jay-io commented on #13
@nub-rin Thank you. We're actually rooting for this one to complete our first milestone. I hope you understand.

[2022-10-08 09:06] #32 closed

[2022-10-08 09:14] nub-rin commented on #13
@jay-io should the about us have a separate page or integrated in index.html?

[2022-10-08 09:19] nub-rin commented on #13
Nevermind found it.

[2022-10-08 10:10] nub-rin commented on #13
@jay-io This is the upper part, the background can be anything (currently its white cause i dont find any image that dose not conflict with the svg above it. The card is work in progress (~15-30 mins). Lmk you opinion.
![unknown](https://user-images.githubusercontent.com/82444564/194702342-64d26342-2777-4423-9b37-2364b0805de4.png)

[2022-10-08 10:27] jay-io commented on #13
Cards feel like an overdoing. You may just arrange the paragraphs alternately one after the other on either side of the centre. Like in this sample below. The next paragraph could be towards the left and illustration to the right. For now, put the GSA logo in place of the illustrations.

![Screenshot from 2022-10-08 15-53-18](https://user-images.githubusercontent.com/55305804/194702862-405d326f-69

[2022-10-08 10:39] Vedant003 commented on #142
Hello @girlscript-asansol can you please assign me the task ?

[2022-10-08 10:52] Ritu01-git opened #148 "Create a 'Contact Us' form"
The contact us button is not working, I can create this part:

This will send us the issue faced by the user.

[2022-10-08 11:04] Ritu01-git commented on #17
@soumali28 I want to work in this issue

[2022-10-08 11:26] nub-rin commented on #13
<img width="1680" alt="image" src="https://user-images.githubusercontent.com/82444564/194705130-2239b3fa-d706-4c69-8233-8ad11ded210b.png">

How about this?

[2022-10-08 11:40] soumali28 commented on #148
@Ritu01-git the contact us page is not yet merged. And already an issue is there for creating the form. If you want to create custom issues you can join our discord forum to discuss the changes with the maintainers and then we shall create the issues for you.

[2022-10-08 11:40] #148 closed

[2022-10-08 11:48] soumali28 commented on #13
Instead of our services it will be our programs and remove the box shawdow (you can give that in the pics tho) and change the images. Ill share some illustration.

[2022-10-08 11:57] soumali28 opened #150 "FAQ Section Accordion width changes when collapsed"
- Should have a standard width when opened or closed.

[2022-10-08 11:58] capooods commented on #150
Assign this on me. Thanks!

[2022-10-08 12:06] nub-rin commented on #13
Alright!

[2022-10-08 12:24] #56 closed

[2022-10-08 12:35] capooods commented on #150
See #151 pul request for the fix

[2022-10-08 12:55] AnandSY opened #152 "Add hover effect to send button in contact us section"
I want to modify send button a little bit and add a hover effect on it.
Please assign it to me under hacktoberfest.

[2022-10-08 12:55] jay-io commented on #13
Looks good! Can you add a bit more padding between two horizontal sections? Also, bring the heading and the content a tad bit closer. You could also increase the `font-weight` for the section heading text.

[2022-10-08 12:59] jay-io commented on #13
For now, you may just add two subsequent sections so that someone can easily append along any new content with your original work. And we'll raise a no-code issue for the content-writing. You may use *Lorem Ipsum*.

[2022-10-08 13:01] nub-rin commented on #13
Alright!!

[2022-10-08 13:09] soumali28 commented on #152
@AnandSY This is already done , one who made the contact us actually did it just forgot to add the class name which I fixed it. But you can join our discord and suggest  custom issues and we'll create it for you.

[2022-10-08 13:09] #152 closed

[2022-10-08 13:12] #150 closed

[2022-10-08 13:18] girlscript-asansol opened #154 "Fix the contact us section."
- Fix the alignment in mobile view
- Work on the top margin and reduce it
- Align the email id

[2022-10-08 13:21] najeebkp commented on #154
Hi @girlscript-asansol  please assign this to me

[2022-10-08 13:32] amitroy-thedev commented on #154
Hey @girlscript-asansol please assign this to me

[2022-10-08 13:35] Debdeep1 opened #155 "Dark mode for contact us section."
- Apply dark mode in contact us section.

![WhatsApp Image 2022-10-08 at 19 01 38](https://user-images.githubusercontent.com/89895057/194710246-40fb3cf7-59a9-474d-9f16-df4baa0c6b8a.jpeg)

[2022-10-08 13:51] vaibhava17 opened #156 "Carousel design Fixes in Mobile View"
Hello !
I have looked into your website and found that the carousel section on mobile is busted.
![image](https://user-images.githubusercontent.com/65801959/194710897-8cb1a278-0366-449d-a5dc-e03493425c29.png)
I can help in fixing that just assign me this issue.
Thanks

[2022-10-08 13:53] jsvigneshkanna commented on #155
Hey 👋, @Debdeep1 Please assign this issue to me. I would like to contribute the code.
Appreciate that

[2022-10-08 14:00] girlscript-asansol commented on #155
@jsvigneshkanna yeah dark mode is already done but the contact us section you see the heading the the sphere it doesn't fetch the dark mode you have to fix that

[2022-10-08 14:02] jay-io commented on #156
Worse, looks wasted to me

[2022-10-08 14:04] jay-io commented on #156
Can you also fix the stretched posters that's making it look weirder?

[2022-10-08 14:09] Aman-Singh-Kushwaha commented on #155
I wanted to work on this as per in discord thread

[2022-10-08 14:12] vaibhava17 commented on #156
@girlscript-asansol noted!

[2022-10-08 14:15] #13 closed

[2022-10-08 14:19] girlscript-asansol opened #157 "Oveflow fix in the about section"
- Fix the overflow which is there in the about us section
- decrease the font size a bit
- give margin and padding to it

[2022-10-08 14:20] Aman-Singh-Kushwaha commented on #157
I want to work on this

[2022-10-08 14:24] jsvigneshkanna commented on #155
Hi @Aman-Singh-Kushwaha , I have already started working on this

[2022-10-08 14:49] jay-io opened #158 "Revamp "Past Events""
- background image is weird, makes the light/dark theme flow inconsistent (can someone do anything better here?)
- a better implementation of carousel. Something cleaner, like [this](https://www.youtube.com/watch?v=qOO6lVMhmGc).
- the event posters may be compressed to help with faster page load-ups
- please remove the background

Assigned to `yosaami#4099` from forums.

[2022-10-08 16:00] jsvigneshkanna commented on #155
Hi @girlscript-asansol , I have raised a new PR for this issue
#162

Please add label `hacktoberfest-accepted`, so that I can keep track of all my contributions this month

[2022-10-08 16:06] #141 closed

[2022-10-08 16:11] Debdeep1 commented on #155
Hey  can you please add some screenshots to show what changes did you make...m having a bit confusion. Screenshots of the ui changes that u made for dark mode.
Thanks.

[2022-10-08 16:20] Debdeep1 commented on #155
Done

[2022-10-08 16:20] #155 closed

[2022-10-08 17:36] yosaami commented on #158
I would like to contribute to this issue.

[2022-10-08 19:25] Snehil0603 opened #165 "Make the logo redirecting"
* The logo in navbar should take you to home page. Would you assign me this issue?

[2022-10-08 21:03] qudus2019 commented on #157
I want to work on this

[2022-10-08 21:10] Aman-Singh-Kushwaha commented on #157
@qudus2019 i am working on it

[2022-10-08 21:12] qudus2019 commented on #157
Okay, weldone

[2022-10-09 05:07] jay-io commented on #165
@Snehil0603 We have a similar issue that I've been assigned to PR for and I've already added the hyperlink. If you'd like to contribute to this repository any further, please consider starting discussion threads in our Discord forums. Also, read the contribution guidelines for this repository in the project README.

[2022-10-09 07:52] #154 closed

[2022-10-09 07:55] soumali28 opened #166 "FAQ Picture overflowing"
- The FAQ picture has been overflowing on some screen sizes and not centering on mobile. Fix it

[2022-10-09 08:03] capooods commented on #166
Assign this on me, thanks!

[2022-10-09 09:02] capooods commented on #166
Created a pull request #167 for the fix.

[2022-10-09 09:35] aaheli8 commented on #76
Working on this issue

[2022-10-09 09:40] #166 closed

[2022-10-09 11:27] keelus commented on #127
Hello. Could I work on this? Under hacktoberfest 2022

[2022-10-09 11:53] girlscript-asansol opened #168 "Fix the contact us links"
- add links of the social media to the contact us section
- change the hover effect of the contact us.
[code]

[2022-10-09 12:25] thatsuman commented on #168
Please assign me this issue

[2022-10-09 14:20] jay-io opened #170 "Relay contact-us form responses to Discord server using discord.js via bot API"
Open a thread in our discord forums to get started and discuss features with maintainers.

[2022-10-09 14:33] #168 closed

[2022-10-10 05:12] soumali28 commented on #17
@JASKIRAT11011 whats the update?

[2022-10-10 05:15] soumali28 commented on #20
@JASKIRAT11011 what's the update?

[2022-10-10 05:28] JASKIRAT11011 commented on #20
I am getting little busy in college activities and other ,I may need some time to work on this
But prior to that ,I have the content of dsa roadmap just need to integrate it properly

[2022-10-10 05:30] JASKIRAT11011 commented on #17
I was little busy in college work ,can you give more clarity on how many pages doc u want

[2022-10-10 07:46] jay-io commented on #134
@soustab10 I think the mobile view layout for the accomplishment cards is irregular. Could you please do something about it? No worries if you cannot. We'll create a new issue.

[2022-10-10 08:55] #157 closed

[2022-10-10 08:57] jay-io opened #175 "Proofread the project README & CONTRIBUTING.md"
Remove typos, grammatical errors & reformat

[2022-10-10 08:58] girlscript-asansol commented on #132
@AadeshKabra Whats the update?

[2022-10-10 09:06] eddybruv commented on #175
can I work on this?

[2022-10-10 09:06] #76 closed

[2022-10-10 09:07] jay-io commented on #175
@eddybruv Sure, go ahead!

[2022-10-10 09:11] qudus2019 commented on #46
Can I still work on this ?

[2022-10-10 09:15] jay-io commented on #46
@qudus2019 I'm pretty sure there will be things to improve after the first PR on this section. If you're interested in working on the next issue that'll follow, I'll recommend you to join our forums on Discord and starting a thread. Read the contributor guidelines for more information.

[2022-10-10 09:15] eddybruv commented on #175
Great!

[2022-10-10 09:16] girlscript-asansol opened #176 "Contact Us form send button not working"
- The send button in the contact us is not working
- we can have a mailto for now and send the responses to : girlscriptasansol@gmail.com

[2022-10-10 09:19] qudus2019 commented on #46
Alright thank you.... How can I get link to the discord forums

[2022-10-10 09:20] girlscript-asansol opened #177 "Modify the our programs section"
- Remove the logo and add cards
Title: Our Programs
Content: Encourage people to learn to program and make them capable of writing a simple computer program to building a complex system. Empower people by providing an opportunity to showcase their technical skills.
Card Section:
- Career Guidance
- Open Source
- Workshops and Sessions
___

### Design
Inspo: (You can refer to it and can make your o

[2022-10-10 09:21] jay-io commented on #46
@qudus2019 You're welcome! You'll find everything in the project README.

[2022-10-10 09:21] qudus2019 commented on #46
Thank you once again

[2022-10-10 09:32] IncredibleZuess commented on #175
Hi! @jay-io can I help out too?

[2022-10-10 09:35] capooods commented on #176
Can work on this

[2022-10-10 09:35] jay-io commented on #176
@capooods sure!
[mailto:girlscriptasansol@gmail.com](mailto:girlscriptasansol@gmail.com)

[2022-10-10 09:41] jay-io opened #178 "Proofread articles"
They can be found in [`components/articles`](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components/articles).

Tasks:
- rectify typos,
- grammatical errors,
- bad punctuation, and
- reformat.

Make changes ***in the markdown files only***.

[2022-10-10 09:42] jay-io commented on #175
@IncredibleZuess Hey there!
You may take up #178, thank you.

[2022-10-10 09:43] IncredibleZuess commented on #178
Hi @jay-io! I'll definitely take this one

[2022-10-10 09:45] jay-io commented on #178
@IncredibleZuess Go ahead!

[2022-10-10 09:56] IncredibleZuess commented on #178
Should I submit the changes as one pr or multiple prs @jay-io?

[2022-10-10 10:00] jay-io commented on #178
@IncredibleZuess We're accepting one Hacktoberfest PR per issue. So it has to be one. I understand it might be lot to review. So no rush. You may take your time.

[2022-10-10 10:02] jay-io commented on #178
@IncredibleZuess We'll also add your name (from [`CONTRIBUTORS`](https://github.com/gsasansol/GirlScript-Asansol/blob/main/CONTRIBUTORS)) as a reviewer in our blog pages.

[2022-10-10 10:10] IncredibleZuess commented on #178
@jay-io Alright!

I'll get on it then! :)

[2022-10-10 10:14] Karmakarsaurab commented on #177
@girlscript-asansol i want to contribute in your project.so can you please assign me this

[2022-10-10 10:15] Prathyusha20a commented on #177
Assign me this issue,I would like to add cards

[2022-10-10 10:20] capooods commented on #176
Pull request can be located here: #180

[2022-10-10 10:27] #176 closed

[2022-10-10 10:46] jay-io opened #182 "Prevent empty contact-us form submission and missing hrefs in the navigation bar"
What the title says.

[2022-10-10 11:12] capooods commented on #182
I can work on this one also.

[2022-10-10 11:14] vivek0033 commented on #182
Pull request for this issue : #181

[2022-10-10 11:28] #182 closed

[2022-10-10 11:28] jay-io commented on #182
#181 merged

[2022-10-10 11:30] jay-io commented on #182
@capooods **vivek0033** is a beginner and he already had a PR on this one, so I had to assign him instead. This issue was one of his introductions to open-source. I hope you understand.

[2022-10-10 11:37] capooods commented on #182
No problem, @jay-io ! Good job @vivek0033

[2022-10-10 11:45] jay-io commented on #177
@Karmakarsaurab You're up for this one. Please go through the contribution guidelines in our README if you haven't yet.

@Prathyusha20a We're assigning to the earliest commenters. If you'd like to contribute further, consider joining our Discord forum to discuss your own issues with the maintainers and have them assigned to you after approval, in short notice.

[2022-10-10 12:04] #178 closed

[2022-10-10 17:47] jay-io opened #184 "Create an Express.js instance using node that will listen (@POST) for json contact-us form data"
API endpoint will be:
[code]
This data will then we handled by the discord client and relayed back to the GSA server. Join Discord to discuss implementation with the maintainers.

Discord bot: #185

[2022-10-10 17:52] jay-io opened #185 "Create a discord.js bot client to send contact-us form data to GSA server's channel"
Data is received by the Express.js instance running alongwith.
Text channel ID: `1029085447344881686`

Join the Discord server to discuss implementation with maintainers.

Express server: #184

[2022-10-10 18:15] jay-io opened #186 "Accomplishment section text not aligned in mobile view"
As the title says.
Assigned to `Arc` from forums.

[2022-10-10 18:18] jay-io commented on #170
This issue is not for assignment. Go to #184 & #185.

[2022-10-10 18:20] amitkumar-y commented on #175
Hi @jay-io ,
Please let me know if there are any other documentation changes that I can assist with.

[2022-10-10 18:22] jay-io commented on #175
@amitkumar-y I will reopen this issue to have you do the same. I can see a few minor spelling errors that went unnoticed, especially in the README.

[2022-10-10 18:23] theanimator20 commented on #186
I would like to work on this issue please assign the task to me

[2022-10-10 18:27] Saket2 commented on #175
I would like to contribute.

[2022-10-10 18:29] jay-io commented on #186
@theanimator20 We kinda need help with #128 but I've been busy. Wanna take that up? If yes, ping me in that thread.

[2022-10-10 18:34] Sumedh-byte opened #187 "Dummy Text in About Us and Our Programs section"
There is dummy text on both About Us and Our Programs section. I can edit them if any content is provided.

[2022-10-10 18:36] jay-io commented on #128
@theanimator20 Oh no, this is about the navbar on the top. You're up!

[2022-10-10 18:38] theanimator20 commented on #128
Okay so basically u'll need to  change the font add social links and add hover effect.?

[2022-10-10 18:44] jay-io commented on #187
We actually don't have a lot of content as of now. You may comment on if you are interested in writing content for us though, for those sections you mentioned. They kinda need to be around 150 words in length each enumerating all that we've done and all that we plan to do in the future. You might also have to work closely with our core team. Let me know if you're interested.

[2022-10-10 18:44] #187 closed

[2022-10-10 18:45] theanimator20 commented on #128
Can i get ur social links to add

[2022-10-10 18:46] theanimator20 commented on #128
Can i get the social links or should i put dummy text

[2022-10-10 18:49] jay-io commented on #128
Try improving the hover effect too. Design is actually very subjective so it's better if you can work closely with us. Consider creating a thread on our Discord forum to get started.

[2022-10-10 18:50] #165 closed

[2022-10-10 18:50] theanimator20 commented on #128
Okk

[2022-10-10 19:06] jay-io commented on #128
@theanimator20 Could you add a new item in the navbar with an animated dropdown titled "Follow us" and list the social links (GitHub, LinkedIn, Twitter, Instagram & Discord) under that? I think it'll be more convenient. Do this for the widescreen layout. For mobile view, consider adding the above social links (only) individually as hrefs on icons.

[2022-10-10 19:09] jay-io commented on #175
@Saket2 Sorry, we've run out of proofreading issues for now :(

[2022-10-10 19:17] theanimator20 commented on #128
Ok seems okay with me and for mobile view I'll add the icons vertically at right corner(scrollable)

[2022-10-10 19:18] jay-io commented on #128
@theanimator20 Sounds good!

[2022-10-10 19:57] suryansh-bhatnagar commented on #132
@girlscript-asansol  hey can i work on this??

[2022-10-11 01:37] TilteD24 commented on #184
Hello I would like to work on this issue

[2022-10-11 03:45] #186 closed

[2022-10-11 07:08] Debdeep1 commented on #46
Any update @varun7678 ?

[2022-10-11 09:57] jay-io commented on #184
@TilteD24 Kindly join the Discord forums and keep us updated in this [thread](https://discord.com/channels/963463889692020827/1029331634861903913).

[2022-10-11 13:57] joyjeetcoding commented on #17
Hii, I am interested in this..... can I also do this ?.....

[2022-10-11 15:19] TilteD24 commented on #184
Can you please link the discord channel I can't seem to find it

[2022-10-11 16:54] drealmap commented on #185
I would like to work on this

[2022-10-11 19:01] jay-io commented on #185
@drealmap Please read the contribution guidelines and try to finish within the stipulated time. Thank you for contributing!

[2022-10-11 19:32] Sanket2004 commented on #127
I want to work on this.
you can assign it to me.
Thank you.

[2022-10-11 19:52] jay-io opened #190 "Create an issue template"
Please contribute a relevant issue template with the background of our project into consideration

[2022-10-11 20:53] #190 closed

[2022-10-12 13:07] soumali28 commented on #128
@theanimator20 whats the update?

[2022-10-12 13:08] Debdeep1 opened #192 "Compose an original writeup Document/Roadmap on DevOps."
### Contact Details

_No response_

### What's on your mind?

- Write it in either Google Docs or on Ms Word.
- Make sure to add flowcharts/images.
- Share the article link in PR.

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-12 13:10] soumali28 commented on #134
@soustab10 Whats the update? Kindly respond by today else we have to reassign it

[2022-10-12 13:10] soumali28 commented on #142
@SatyajeetShinde Whats the update?

[2022-10-12 13:12] soumali28 commented on #156
@vaibhava17 whats the update?

[2022-10-12 13:12] soumali28 commented on #158
@yosaami Whats the update?

[2022-10-12 13:33] joyjeetcoding commented on #192
Hii.. I am interested to do this ....Can you assign me this ?...It's my first time contributing in open source

[2022-10-12 14:02] vaibhava17 commented on #156
@soumali28 today I was busy I will submit tomorrow in the evening

[2022-10-12 14:27] aaheli8 commented on #46
Can I be assigned this issue

[2022-10-12 18:11] jay-io commented on #128
@theanimator20 try white (with 70% opacity) default font style instead of the brown. Hovering makes the font 100% opaque and hence, bright white. You may also do away with the red underline, replace it will a fade-in-fade-out thin white underline.

[2022-10-12 18:20] jay-io commented on #192
@joyjeetcoding Welcome to open-source! Refer to [this](https://github.com/gsasansol/GirlScript-Asansol/issues/21#issuecomment-1264372470) thread to know how we receive article submissions. Hit us up on Discord if you face any issues. See how [others have done it](https://github.com/gsasansol/GirlScript-Asansol/tree/main/components/articles).

[2022-10-13 05:40] yosaami commented on #158
I'll try to complete it by the end of the day

[2022-10-13 14:25] #184 closed

[2022-10-14 10:25] theanimator20 commented on #128
@jay-io i have solved the issue please go through it

[2022-10-14 10:53] #175 closed

[2022-10-14 10:54] jay-io commented on #177
@Karmakarsaurab any updates?

[2022-10-14 10:56] #134 closed

[2022-10-15 06:39] navaneethmanoj commented on #142
Hi, can you please assign me this issue?

[2022-10-15 20:23] jay-io commented on #17
@JASKIRAT11011 I'm sorry we have to reassign this. We got a few milestones to reach on time. I hope you understand.

[2022-10-15 20:24] #192 closed

[2022-10-15 20:24] #185 closed

[2022-10-15 20:24] #170 closed

[2022-10-16 04:19] Adhetya commented on #177
@girlscript-asansol, I would be interested to work on this issue. Please assign this issue to me. Also, mentioning the deadline to submit a PR would be much appreciated.

[2022-10-16 05:00] joyjeetcoding commented on #17
Hii @jay-io Can you assign me this ?

[2022-10-16 05:01] joyjeetcoding commented on #20
Hii ......Can you assign me this ?

[2022-10-16 05:07] AdityaShaw1 commented on #177
Do u guys need only design ??

[2022-10-16 05:09] AdityaShaw1 commented on #177
if yes then pls assign me to this issue..

[2022-10-16 05:10] AdityaShaw1 commented on #17
is this issue open ?

[2022-10-16 06:49] jay-io commented on #17
@AdityaShaw1 You can watch a couple of videos on Cryptography and pen down what you understood. This issue is already assigned but the one on Cryptography remains.

[2022-10-16 07:15] AdityaShaw1 commented on #17
Yes pls assign me

[2022-10-16 09:00] soumali28 commented on #177
Submit it within 3-4 days will be appreaciated.

[2022-10-16 09:24] soumali28 commented on #158
@yosaami Whats the update??

[2022-10-16 09:59] girlscript-asansol opened #201 "Modify the about us section"
Changes are to be made in index.html, styles.html and index.js files.

### About Us Section should contain:
- Image: Change the image from the logo to an illustration like [this](https://i.ibb.co/SVsVj3s/undraw-Software-engineer-re-tnjc.png) or any other suitable.
- Content:  Change the lorem to "GirlScript Organization is a non-profit company registered under the government of India on 2nd June 2

[2022-10-16 10:32] savi001 commented on #201
I am interested to work on it ,
can u assign this to me .

[2022-10-16 10:35] savi001 commented on #177
I am interesed to work on ,
can u assign this to me ?

[2022-10-16 10:40] NabhiA commented on #201
I would like to work on this issue.
Can you assign it to me

[2022-10-16 12:17] tanyaa-arora commented on #201
Hi @girlscript-asansol I'd like to do this. Kindly assign me this issue

[2022-10-16 12:47] nikcoder01 opened #202 "[Feature]: enhanced scale,dimensions and ui"
### Contact Details

nikhil896160@gmail.com

### What's on your mind?

want to make fonts and alignment more appropriate in proportion and appealing in look, please assign tis to me

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-16 12:49] Eazyisreal commented on #201
Kindly assign this task to me @girlscript-asansol

[2022-10-16 13:23] jay-io commented on #202
@nikcoder01 Can you specify which sections you'd like to improve? We're currently looking for contributions which have a well defined scope. Consider opening a new issue targeting exactly what you'd like to focus on first. Say, "Enforcing a font style (font-face and size) standard throughout the repository"
We kinda need help with this one.

[2022-10-16 13:44] #128 closed

[2022-10-16 14:59] pratyusha0710 commented on #20
Hey, can you assign me this??

[2022-10-17 11:57] #201 closed

[2022-10-17 12:03] Debdeep1 opened #206 "Fix the position of dark mode toggle button: MOBILE VIEW"
### Contact Details

_No response_

### What happened?

- FIX THE POSITION OF DARK MODE TOGGLE IN MOBILE VIEW.

### Version

0.1.0rc (Default)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of

[2022-10-17 12:59] danieleavolio opened #207 "[Bug]: Mobile View of dropdown menu is not centered"
### Contact Details

daniele.avolio14@gmail.com

### What happened?

A bug happened!
I noticed that the dropdown menu is not centered.
![image](https://i.imgur.com/0A6ISgK.png)

### Version

0.1.0rc (Default)

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

_No response_

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code

[2022-10-17 13:09] #17 closed

[2022-10-17 14:09] soumali28 commented on #207
@danieleavolio Thanks for creating this issue but I think this issue is already resolved/ You can check our discord and suggest some custom issues if you want too.

[2022-10-17 14:09] #207 closed

[2022-10-17 14:49] AdityaShaw1 commented on #20
can u pls assign me

[2022-10-17 15:11] jay-io opened #210 "[No-code] Write an article on "Roadmap to Cybersecurity""

[2022-10-17 15:54] arjun434 commented on #210
Hey please assign this to me

[2022-10-18 01:09] #202 closed

[2022-10-18 01:10] #20 closed

[2022-10-18 01:11] #156 closed

[2022-10-18 01:13] jay-io commented on #177
@Adhetya are you working on this one?

[2022-10-18 01:14] jay-io commented on #158
@yosaami Sorry, it's been a while. I'll have to reassign this one.

[2022-10-18 01:17] jay-io commented on #142
@navaneethmanoj any updates? Are you on this yet?

[2022-10-18 03:53] navaneethmanoj commented on #142
The UI is completed. I have a few questions. Where in the discord server can I discuss it?

[2022-10-18 05:33] jay-io commented on #142
@navaneethmanoj you can write it out in #october-general. We'll get back to you as soon as possible.

[2022-10-18 07:03] MashyBasker opened #212 "[Bug]: Lorem text in "Our Programs" section"
### Contact Details

basumaharshi10@gmail.com

### What happened?

The `Our Programs` section on the main page of the site contains just Lorem text.
I'd be happy to work on this issue.
![girlscript](https://user-images.githubusercontent.com/84385565/196359175-216927e8-698a-41b3-ac9a-a4ae4f48fdab.png)

### Version

0.1.0rc (Default)

### What browsers are you seeing the problem on?

_No response_

[2022-10-18 08:41] KeneePatel commented on #158
I would like to work on this issue if it's fine, please assign me on this.

[2022-10-18 09:37] jay-io commented on #212
We're not ready with the content yet tho. You may proceed if you wish to contribute the write-up as well along with adding it to the HTML.

We are [GirlScript Foundation](https://www.girlscript.tech/home).

[This](https://gsa.bio.link/) is what we do.

[2022-10-18 13:38] jay-io commented on #212
@MashyBasker Great! Thank you for taking this up. I'll assign you right away.

[2022-10-18 16:42] sawan1k commented on #46
I want to work on this issue! assign me:

[2022-10-18 16:51] joyjeetcoding opened #213 "[Bug]: Font family and Background image"
### Contact Details

joyxbhp6@gmail.com

### What happened?

I want to change the font family.....and want to do a little change in background image linear gradient and a little modifications in navbar too

### Version

0.1.0rc (Default)

### What browsers are you seeing the problem on?

_No response_

### Relevant log output

_No response_

### Contribution Guidelines

- [X] I have gone through t

[2022-10-19 12:03] jay-io commented on #213
@joyjeetcoding Go ahead! Consider using Lato font family. Also, can you try making the heading fonts look like this?

As in "OUR REACH"

![Screenshot from 2022-10-19 17-31-52](https://user-images.githubusercontent.com/55305804/196685181-53e68645-143a-480d-ba08-cc9dacdeaa05.png)

[2022-10-19 13:12] #142 closed

[2022-10-19 14:12] #158 closed

[2022-10-19 14:19] joyjeetcoding commented on #213
Here I have used two different font family...One for  the navbar and one for the content part...
I will continue with one of these font family for the headings...
Can I do this ?
![Screenshot (66)](https://user-images.githubusercontent.com/96014361/196716845-13834e04-11d0-4628-8a6a-25d2eab2614c.png)

[2022-10-19 14:29] jay-io commented on #213
@joyjeetcoding Cursive typefaces are actually not recommended while building UIs because they are extremely difficult to read. Please use Sans Serif or Serif fonts only ("Lato" as prescribed).

I also wanted to ask if you could establish a font standard throughout. There are several places where fonts aren't Lato and sizes are inconsistent.

[2022-10-19 14:36] joyjeetcoding commented on #213
Okay ...no problem I will use Sans serif

[2022-10-19 23:08] Vic-Dev001 commented on #46
Would love to work on this

[2022-10-20 04:12] Adhetya commented on #177
@jay-io Yes, I am. Will try to submit a PR by today. If not, definitely tomorrow.

[2022-10-20 16:16] #177 closed

[2022-10-20 16:19] jay-io commented on #213
@joyjeetcoding We have a few UI fixes. See if you merge them into your progress so far. No worries otherwise.

[2022-10-21 05:31] girlscript-asansol opened #218 "Improve the our programs design"
- change the design of the cards and give it a modern look.

[2022-10-21 05:37] girlscript-asansol opened #219 "Modify the past events card(mobile view)"
- give some margin to the mobile view of the past event cards
- remove the text decoration of the of the text

[2022-10-21 05:38] girlscript-asansol opened #220 "Fix the faq section in the dark mode"
- In the darkmode the text in faq section boxes is not visible fix that.

[2022-10-21 05:43] najeebkp commented on #220
hi @girlscript-asansol please assign this to me

[2022-10-21 05:57] shrishti147 commented on #218
hi, please assign me.

[2022-10-21 07:38] raghavpatidar commented on #218
can I take this issue ?

[2022-10-21 08:09] #220 closed

[2022-10-21 09:35] RanjR219 commented on #219
Hi, can I please be assigned this issue?

[2022-10-21 13:52] MashyBasker commented on #212
@KeneePatel Sure. I was unsure of how to proceed in making the content. If you have already thought about then you can take up this issue

[2022-10-21 14:12] KeneePatel commented on #212
@MashyBasker Well, I haven't already thought about it, but I guess I will work something out at least. Thanks for passing on the issue.

[2022-10-21 14:14] jay-io commented on #212
@KeneePatel Thank you! Go ahead

[2022-10-21 14:14] KeneePatel commented on #212
Wait someone already worked out two lines in it. Welp, I guess I will just add something to it as it seems bit small

[2022-10-22 05:11] joyjeetcoding commented on #213
Okay... what are the issues? Actually..... I was busy in college works and today I will complete my work and will create the PR :)

[2022-10-22 05:39] jay-io commented on #213
@joyjeetcoding You can sync your repo with ours to update your PR with the most recent upgrades and fixes.

[2022-10-22 06:34] #212 closed

[2022-10-22 12:25] savi001 commented on #46
@jay-io can i work on it

[2022-10-22 12:27] savi001 commented on #219
I am interested to work on it , can u please assign to this to me

[2022-10-22 13:02] #219 closed

[2022-10-22 13:33] KeneePatel commented on #127
Can I pick up on this, as it has been more than 11 days

[2022-10-22 13:33] KeneePatel commented on #127
I will be able to get it done in a day

[2022-10-22 13:34] KeneePatel commented on #127
Feel free to assign me on this if it's okay @jay-io or @girlscript-asansol

[2022-10-22 14:00] jay-io commented on #127
Go ahead! I'm working on an animated banner which will prolly take time. We can have yours in the meantime. Can you try to make it look better? Without the image maybe? Look for a few inspirations if possible.

[2022-10-22 14:55] #127 closed

[2022-10-22 15:05] #46 closed

[2022-10-23 09:01] #213 closed

[2022-10-23 09:08] jay-io commented on #210
@AdityaShaw1 you still up for this?

[2022-10-23 13:43] ManashMon commented on #210
hii please assign me

[2022-10-23 13:59] AdityaShaw1 commented on #210
Yes I m submitting by today only

[2022-10-23 13:59] AdityaShaw1 commented on #210
@jay-io

[2022-10-24 07:42] zugzwang03 opened #229 "[Bug] Add content in all the cards of resources"
### Contact Details

_No response_

### What happened?

A bug happened!
The resources section contains a lot of blog cards, but they are majorly crammed with similar information.  I can add in good content in all of them. Can I make this contribution under Hacktoberfest '22?
![Screenshot_20221024-130911_Chrome](https://user-images.githubusercontent.com/95460021/197473370-4640fceb-f412-4f79-bd2e-38

[2022-10-24 08:08] jay-io commented on #229
Yes, we kinda have the skeletal design ready (for both the cards and the article container). And the content as well, but we need to set redirects and display the formatted articles via the resource page accordingly (using markdown parsers) depending on what card the user invokes.

This is the task at hand. Are you up for this?

[This is where we're storing the markdown articles.](https://github.c

[2022-10-24 09:51] zugzwang03 commented on #229
Looks like a difficult task for me. I can contribute an article in the already created article directory though. 😃

[2022-10-24 13:16] jay-io commented on #229
@zugzwang03 No worries. You can choose an article of your choice and create a feature request for it. We'll assign you on that.

[2022-10-24 13:18] jay-io commented on #229
@zugzwang03 Also, I think you can copy and paste the first few lines from the markdown files as a preview to the blog cards. I guess this is what you meant to do previously. You may proceed with either of the issues or both.

[2022-10-24 13:31] zugzwang03 commented on #229
Yeah let me do it through this issue.

[2022-10-24 13:32] zugzwang03 commented on #229
Let me create a new issue for this.

[2022-10-24 13:35] zugzwang03 opened #230 "[Feature] Add an article on Machine Learning"
### Contact Details

_No response_

### What's on your mind?

Make it shinier!
I want to add an article on machine learning.

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-24 15:19] jay-io commented on #230
Go ahead!

[2022-10-24 15:20] jay-io commented on #229
@zugzwang03 Two issues for you. Let's go

[2022-10-24 17:28] #229 closed

[2022-10-25 09:54] Shravan773 opened #232 "Improve the dark mode button...making it more animated"
### Contact Details

shravankumarr327@gmail.com

### What's on your mind?

The dark mode button looks outdated...no body will understand that..so change the button style

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-25 12:04] jay-io commented on #232
Alright, assigning on

[2022-10-25 18:31] zugzwang03 commented on #230
Hey @jay-io , I am facing a problem in this issue. How to obtain the "body" of the json file?

[2022-10-25 18:36] jay-io commented on #230
@zugzwang03 [You may use Node's `fs` module](https://github.com/gsasansol/GirlScript-Asansol/issues/21#issuecomment-1264372470). If you're unsure about this, you may leave the body empty:

[code]

Also, kindly add your article as a blog card, too.

[2022-10-25 18:38] zugzwang03 commented on #230
Okay thanks 😊

[2022-10-26 04:52] #230 closed

[2022-10-26 05:49] soumali28 opened #234 "Modify the our teams"
changes in the team.html and team.css files
- Add the light and dark mode to the page
- design the cards for the  mobile view
- Change the colour of the text from blue to dark orange.

### Design (for the mobile view only)

![Screenshot from 2022-10-26 11-16-10](https://user-images.githubusercontent.com/66300439/197944872-d826825d-dc64-4b51-802e-58c7cbec9a97.png)

[2022-10-26 08:43] Debdeep1 commented on #210
Have you made a PR?

[2022-10-26 14:35] KeneePatel opened #236 "[Bug] getting rid of some small but surely annoying issues"
### Contact Details

patelkenee2804@gmail.com

### What happened?

There are following issues and I would like to solve these as well:
- the padding/margining issue in follow us drop down menu
- the uncentered '+' in FAQ's
- the not so compatible 'back to top' button

If you would give me a green to go, I will be able to do it ASAP.

Screenshots:
![image](https://user-images.githubusercontent.com/

[2022-10-26 15:00] RanjR219 commented on #234
Hi, can I work on the first issue "Add the light and dark mode to the page" ?

[2022-10-26 15:03] soumali28 commented on #236
@KeneePatel Go ahead

[2022-10-26 15:03] KeneePatel commented on #236
Allright, thanks for the heads up

[2022-10-26 16:50] jay-io commented on #236
@KeneePatel We'd love a simpler Material UI kind of drop down with white background, sans-serif font and proper margins between items and the drop-down box. See if you can achieve something similar:

![dropdown-study-design-shiva](https://user-images.githubusercontent.com/55305804/198086751-1c2762e4-6a16-4023-b5b4-ef8a4164b543.png)

[2022-10-27 05:38] RanjR219 commented on #234
Hi, I would love to work on the card design in the mobile view as well. So can I take that up?

[2022-10-27 05:40] soumali28 commented on #234
@RanjR219 yeah go ahead its a part of the same issue only.

[2022-10-27 08:14] KeneePatel commented on #236
@jay-io okay, well I can see what I will be able to do but the main thing I am concerned about is getting the dropdown menu to also follow the theme and that is something I am not so good at lol.

[2022-10-27 08:18] jay-io commented on #236
A drop-down dark theme is unnecessary tho. White under all circumstances will do.

[2022-10-27 08:49] KeneePatel commented on #236
You kinda misunderstood me with the dark theme. I was referencing to the actual orange like theme and making the dropdown compatible with that. Anyway, I can try that out and see if I will be able to do that and then just make a separate issue for that.

[2022-10-27 09:52] jay-io commented on #236
@KeneePatel Oh alright, whatever sails your boat. I was asking if it'd make your work easier to ditch the current drop down theme and build something simpler like in the picture above. If it is indeed easier, you have a green light from us to either do it in this PR or create a separate issue for it.

[2022-10-27 10:09] #236 closed

[2022-10-27 15:03] #234 closed

[2022-10-27 16:22] jay-io opened #243 "[Feature] Add volunteer cards to Our Team"
### Contact Details

jay.dnb@outlook.in

### What's on your mind?

What the title says. Ping us on Discord for the head-shots & social links of our volunteers.

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-27 17:48] rudrakshkarpe commented on #210
@Debdeep1 can I work on it? I'd love to write a article on cybersecurity

[2022-10-27 17:48] rudrakshkarpe commented on #210
Please assign it to me, I'll raise a PR ASAP

[2022-10-28 07:31] xennia316 commented on #243
Hello Please asign this task to me

[2022-10-28 07:59] jay-io commented on #243
@xennia316 sure.

[2022-10-31 09:52] soumali28 commented on #210
@rudrakshkarpe Today is the last day for hacktoberfest plz raise the pr before 7pm IST.

[2022-10-31 09:54] soumali28 commented on #243
@xennia316  Today is the last day for hacktoberfest plz raise the pr before 7pm IST.

[2022-10-31 10:00] soumali28 commented on #232
@Shravan773 Today is the last day for hacktoberfest plz raise the pr before 7pm IST.

[2022-10-31 10:00] soumali28 commented on #218
@shrishti147 Today is the last day for hacktoberfest plz raise the pr before 7pm IST.

[2022-10-31 14:49] rudrakshkarpe commented on #210
Sorry for delay I'll raise a PR within next 1 HR

[2022-10-31 16:43] 8-bit-souvik opened #249 "[Feature]"
### Contact Details

souvikmandal210@gmail.com

### What's on your mind?

docs of css styles can be more detailed.

included:
1. pointed CSS files for HTML file
2. CSS code structure

### Contribution Guidelines

- [X] I have gone through the contribution guidelines

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2022-10-31 18:31] rudrakshkarpe commented on #210
As my exams are going around I could raise a tentative PR before12 which will be considered under Hacktoberfest I guess
I'll make the required changes with commits in the same PR

I truly apologize for the inconvenience caused

[2022-10-31 18:59] jay-io commented on #210
@rudrakshkarpe I hope it's Greenwich time. Thank you for contributing!

[2022-10-31 19:02] #249 closed

[2022-11-09 16:38] prakhar-1005 commented on #232
@jay-io can you please assign this issue to me? I would like to work on it

[2022-11-09 16:48] prakhar-1005 opened #254 "[Feature] Font type of the list in Follow Us section"
### Contact Details

prakhar10may@gmail.com

### What's on your mind?

The font type of the Follow Us section is in serif and it does not look appealing at all. I would like to change it.

Screenshot:
![Screenshot (62)_LI](https://user-images.githubusercontent.com/94559623/200890442-b2c5ba9d-663f-4b91-acaf-46d9a68df79b.jpg)

### Contribution Guidelines

- [X] I have gone through the contribution g

[2022-11-09 16:49] jay-io commented on #232
@prakhar-1005 Go ahead!

[2022-11-09 16:49] prakhar-1005 commented on #254
@jay-io can you please take a look at my issue

[2022-11-09 16:55] jay-io commented on #254
@prakhar-1005 Can we request something additional from you? [Here is a breakdown](https://github.com/gsasansol/GirlScript-Asansol/issues/236#issuecomment-1292328498). Can you try to make it look similar? No worries otherwise, if the font is the only thing you wish to work on.